<div class="col-sm-8">
  <h1 id="page-title">Hey <%= @user.name.capitalize %></h1><hr>
  <p id="page-text">What are you looking to do?</p>

  <div class="page">

    <%= link_to "Create a Project", new_user_project_path(@user), class: "btn btn-default", id: 'page-button-three' %>

    <%= link_to "View my project", user_projects_path(@user), class: "btn btn-default", id: 'page-button-three' %>

    <%= link_to "Edit my profile", edit_user_path(@user), class: "btn btn-default", id: 'page-button-three' %>
  </div>
</div>
