<div class="col-sm-8" id="create-a-user">
  <h1>Here is a list of your Projects</h1>

  <% @projects.each do |project| %>
    <li><a href="/users/<%= project.user_id %>/projects/<%= project.id %>"><%= project.name %></a></li>
  <% end %>
</div>
