<div class="col-sm-8">
  <div id="map-canvas"></div>
  <p>View of all Eagle Scout Projects that have been added. If you or someone you know would like to upload their project, send them a link. Users can login and create their own project to be viewed on the map.</p>

</div>
