<div id="map-canvas"></div>
  <p>View of all Eagle Scout Projects that have been added. If you or someone you know would like to upload their project, send them the link. Users can login and create their own project to be viewed on the map.</p>
  <p>This is the first Eagle Scout Project Locator web application. You can view others projects if they have been uploaded and if you login you can even add your own project.</p>
