<h1>Project Profile</h1>
<p>Name: <%= @project.name %></p>
<p>Date: <%= @project.date %></p>

<%= link_to "Edit Project", edit_user_project_path, class: "btn btn-default" %>

<%= button_to('Delete Project', user_project_path, :method => 'delete', class: 'btn btn-default')  %>
