<div class="col-sm-8">
  <div class="about-page">
    <h1 id="page-title">About Page</h1>
    <p id="about-text-lead">Thanks for checking out my project. I built this site to allow Eagle Scouts from all around the world to upload their projects. I hope this brings inspiration to others and hopefully spawn an API that will collect data on Eagle Scout Projects.</p>

    <p id="about-text">Did you know that 191 members the 113th Congress participated in Scouting as a youth and/or adult leader, 28 are Eagle Scouts. Other notable Eagle Scouts include Bill Gates, Neil Armstrong, Steven Spielberg, Hank Aaron, and Michael Bloomberg.</p>

    <p id="about-text">In 2013, 56,841 Scouts earned the Eagle Scout Rank. About 6 percent of all Boy Scouts have earned the Eagle Scout rank. From 1912 to 2013, 2.7 million Boy Scouts have earned the Eagle Scout rank.</p>

    <hr>

    <p id="about-text">In the future, I hope this applicaiton will gain traction and that Eagle Scout's will post their own projects to share with others. I hope to add a donation button and use the funds to sponsor an Eagle Scout scholarship to help pay for alternative education programs to encourage Eagle Scout's who have an interest in technology and web development to pursue their dreams.</p>
  </div>
</div>
